.active {
  border-bottom: 2px solid #ffc107;
  font-weight: 500;
  color: #101828;
}

.activeNew {
  /* border-bottom: 2px solid #ffc107; */
  font-weight: 500;
  color: #101828;
  background-color: white !important;
  color: #007AB6;
}