.estimateTable_container .ant-table-thead .ant-table-cell{
    background-color: #F9F5FF;
    color: var(--Gray-700, #344054);
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}