@tailwind base;
@tailwind components;
@tailwind utilities;
/* globals.css */
@import 'antd/dist/reset.css';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap');

:root {
  --primaryColor: '#7F56D9';
}

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: theme('borderColor.DEFAULT', currentColor);
  /* 2 */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::before,
::after {
  --tw-content: '';
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.at-tableloader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.at-tableloader .lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 25px;
  height: 25px;
  margin: 0;
  border-radius: 50%;
  border: 4px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.disabled {
  pointer-events: none;
  /* Disable pointer events to prevent interaction */
  opacity: 0.6;
  /* Reduces opacity for a faded appearance */
  cursor: not-allowed;
  /* Change the cursor to 'not-allowed' */
}

.ant-modal-content {
  background: transparent !important;
  box-shadow: none;
  padding: 0px;
}

.ant-modal-content {
  /* height: 94vh !important; */
  background: transparent !important;
  box-shadow: none !important;
}

.customSelectError .ant-select-selector {
  border: 1px solid red !important;
}

.customSelect .ant-select-selector {
  border: 1px solid #cbd5e0 !important;
}

.font-outline {
  text-align: right;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #dedada;
  font-size: 60px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: transparent;
}

:where(.css-dev-only-do-not-override-dkbvqv).ant-color-picker-trigger {
  padding: 0px !important;
  min-width: 0px !important;
  height: 0px !important;
}

:where(.css-dev-only-do-not-override-dkbvqv).ant-color-picker-trigger
  .ant-color-picker-color-block {
  width: 44px !important;
  height: 36px !important;
}
.ant-table
  .ant-table-container
  .ant-table-content
  table
  thead.ant-table-thead
  .ant-table-cell {
  background-color: #f9f5ff !important;
}

.ant-carousel .slick-dots li button {
  background: #6b696b;
  opacity: 0.4;
}

.ant-carousel .slick-dots li.slick-active button {
  opacity: 1;
  background: #000000;
}

.foundation-primary-400 {
  background-color: #f4ebff;
}

.skipBtn-icon {
  display: flex;
  justify-content: center;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}

.skipBtn-icon > span {
  cursor: pointer;
  border-bottom: 1px solid #344054;
}

.bg-lavenderPurple {
  background-color: #7138df;
}

.bg-transparent {
  background: transparent;
}

.bg-gray-200 {
  color: #344054;
}

/* PhoneNumberInput.css */

/* Hide inner and built-in border focus */
.custom-phone-input .PhoneInputInput:focus {
  outline: none;
  border-color: transparent;
  box-shadow: none;
}

.foundation-primary-100 {
  background-color: #f4ebff;
}

.foundation-primary-50 {
  background: #fcfaff;
}

.foundation-gray-100 {
  background: #e9ebf8;
}

.foundation-primary-200 {
  background: #f9f5ff;
}

.p-font-size {
  font-family: '_Inter_aaf875', '_Inter_Fallback_aaf875';
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.h-font-size {
  font-family: '_Inter_aaf875', '_Inter_Fallback_aaf875';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

/* Pagination css */

/* .ant-pagination-prev, */
.ant-pagination-item-link,
.ant-pagination-next .ant-pagination-disabled,
.ant-pagination-prev .ant-pagination-disabled {
  border: 1px solid #f0f1f3 !important;
  border-radius: 8px !important;
}

/* Custom Pagination CSS */
.custom-pagination .ant-pagination-prev .ant-pagination-item-link::before {
  content: 'Previous';
  float: inline-end;
  display: inline-block;
}

.custom-pagination .ant-pagination-next .ant-pagination-item-link::after {
  content: 'Next';
  float: inline-start;
  display: inline-block;
}

.custom-pagination .ant-pagination-item-link {
  text-align: center;
  padding: 0px 10px 0px 10px !important;
}
